@{
    ViewBag.Title = "About Fision";
}
<h2>@ViewBag.Title.</h2>

<p>Fision is the only solution that extends advanced Marketing Automation & Sales Enablement capabilities throughout the sales funnel to help your team better reach your prospects, engage customers and win in the marketplace.</p>
<p>Our cloud-based platform empowers your team to quickly and easily organize, create and distribute compelling, personalized campaigns across the web, e-communications, social media and print.</p>
<a href="http://www.fisiononline.com/marketing-automation">Learn more about our full suite of capabilities.</a>
